<nav class="todo-navigation">
  <ul>
    <li>
      <a href="/" class="<%- path==='all-todos' ? 'active' : ''%>">Todos</a>
    </li>
    <li>
      <a href="/favourites" class="<%- path==='favourites' ? 'active' : ''%>"
        >Favourites</a
      >
    </li>
    <li>
      <a href="add-todos" class="<%- path==='add-todos' ? 'active' : ''%>"
        >Add Todos</a
      >
    </li>
  </ul>
</nav>
